.content {
  box-sizing: border-box;
  background: rgb(24, 26, 27);
  background: linear-gradient(
    0deg,
    rgba(24, 26, 27, 0) 3%,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(3, 3, 3, 1) 100%
  );
  position: fixed;
  z-index: 101;
  top: 0px;
  width: 100vw;
  height: 70px;
  transition: height 0.5s;
  overflow: hidden;
  padding: 13px 3vw 13px 3vw;
  display: flex;
  justify-content: space-between;
}

.contentOpen {
  height: 200px;
}

.bgGradient,
.bgGradientOpen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  transition: height 0.5s ease-in-out;

  background-color: rgba(24, 26, 27, 1);
  z-index: -1;
  opacity: 1;
  transition: 500ms;
}

.bgGradientOpen {
  height: 200px;
}

.bgBig {
  height: 100vh;
}

.bgGradientHidden {
  opacity: 0;
}
.row {
  gap: 35px;
  align-items: center;
  display: flex;
}

.link {
  text-decoration: none;
}
.img,
.imgHidden {
  position: relative;
  top: 3px;
  height: 40px;
  transition: 300ms cubic-bezier(0.63, -0.49, 0.37, 1.5);
}

.imgHidden {
  top: -100px;
}

.imgFullscreen {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 98vh;
  object-fit: cover;
  opacity: 1;
  filter: blur(0px);
  transition: 500ms ease;
  scale: 1;
}

.imgBlur {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 98vh;
  object-fit: cover;
  filter: blur(5px);
}

.opacity {
  filter: blur(10px);
  transition: 500ms ease;
}

/* .filmContent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vh;
  padding-top: 25vh;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
} */

.filmContent {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vh;
  /* padding-top: 25vh; */
  width: 100%;
  height: 90vh;
  z-index: 1;
}

.button {
  background-color: white;
  height: 50px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  margin-top: 25px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: 700;
  font-size: 1.2rem;
}

.button:hover {
  opacity: 0.8;
}

.buttonAddList {
  background-color: rgba(44, 44, 44, 0.8);
  height: 50px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin-top: 25px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.buttonAddList:hover {
  opacity: 0.9;
}

.buttons {
  display: flex;
  gap: 25px;
}

.bigTitle {
  font-size: 5.5vw;
  color: white;
  font-weight: 700;
  text-shadow: 0px 0px 15px #000000;
}

.filmDesc {
  font-size: 2vw;
  font-style: italic;
  color: white;
  font-weight: 600;
  text-shadow: 0px 0px 10px #000000;
}

.bottomGradient {
  position: absolute;
  top: 68vh;
  left: 0px;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(
    0deg,
    rgba(24, 26, 27, 1) 0%,
    rgba(24, 26, 27, 0) 100%
  );
}

.loginBtn {
  cursor: not-allowed;
}

.bottomBg {
  position: absolute;
  top: 98vh;
  left: 0px;
  height: 20vh;
  width: 100vw;
  background-color: rgba(24, 26, 27, 1);
}

.searchBarContainer {
  position: relative;
  left: 35px;
  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  right: -43px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  color: white;
  height: 40px;
  width: 40px;
  z-index: 0;
}

.searchInput {
  position: relative;
  background-color: rgba(255, 254, 254, 0.108);
  cursor: pointer;
  z-index: 100;
  height: 35px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1.1rem;
  width: 0px;
  padding: 2px 0px 2px 45px;
  transition: 300ms;
}
.closeIconHidden {
  position: relative;
  left: -43px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  height: 40px;
  width: 40px;
  z-index: 0;
  opacity: 0;
  transition: 200ms;
}

.closeIcon {
  position: relative;
  left: -43px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  height: 40px;
  width: 40px;
  z-index: 101;
  opacity: 1;
  transition: 200ms;
}

.searchInputFocused {
  cursor: text;
  width: 200px;
  padding: 2px 7px 2px 47px;
}

.results,
.resultsHidden {
  padding-bottom: 5px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100vw;
  left: 0px;
  top: 70px;
  z-index: 100;
  max-height: 300px;
  background-color: #181a1b;
  overflow: hidden;
  transition: 500ms;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 15px;
}

.resultsHidden {
  max-height: 0px;
  padding: 0px;
}

/* .results {
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 70px;
  z-index: 100;

  background-color: red;
} */

.resultCard {
  display: flex;
  margin: 10px;
  height: 125px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.066);
  border-radius: 10px;
  overflow: hidden;
}

.resultCard h2 {
  width: auto;
}

.noResults {
  font-size: 1.1rem;
  margin: 2.5vh 0px;
}

.searchInfos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}
.searchInfos h3 {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.spaceBetween {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.searchButton {
  margin-top: 2px;
  color: white;
  padding: 7px 0px;
  border-radius: 7px;
  font-weight: 600;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.271);
  width: 100%;
}

.searchButton span {
  position: relative;
  margin: 0px 5px;
  bottom: 1px;
  transition: 300ms;
}

.searchButton:hover {
  background-color: rgba(169, 169, 169, 0.271);
  cursor: pointer;
}

.searchIcon {
  position: relative;
  top: 2px;
  transition: 200ms;
}

.rating {
  margin-left: 20px;
  color: #bebebe;
  font-weight: 600;
  font-size: 1rem;
}

.burgerBtn {
  position: absolute;
  margin-left: 3vw;
  left: 0px;
}

.searchRight {
  position: absolute;
  right: 0px;
  margin-right: 3vw;
}

@media screen and (max-width: 800px) {
  .filmContent {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .bigTitle {
    text-align: center;
    font-size: 40px;
  }
  .filmDesc {
    font-size: 18px;
  }
  .row {
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .content,
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .content {
    gap: 20px;
  }

  .searchInputFocused {
    width: 60vw;
  }
  .results {
    max-height: 585px;
  }
}
