body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181a1b;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "GothamLight";
  src: url("fonts/GothamLight.ttf");
}

@font-face {
  font-family: "GothamBold";
  src: url("fonts/GothamBold.ttf");
}

p {
  font-family: -apple-system, "GothamLight";
}

div,
h1,
h2,
h3,
h4 {
  font-family: -apple-system, "GothamBold";
}

.App {
  position: absolute;
  top: 0px;
  min-height: 100vh;
  max-width: 100vw;
}
.appContent {
  padding-bottom: 150px;
}

button {
  font-family: -apple-system, "GothamLight";
  font-weight: 800;
  font-size: 1rem;
}

code {
  font-family: -apple-system, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

h5,
h4,
h3,
h2,
h1,
p {
  margin: 0px;
  color: #e8e6e3;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 6px;
  line-height: 28px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding-top: 85vh;
  display: block;
  margin-bottom: 50px;
}

.listHeader {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  line-height: 0px;
}

.listHeader::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  height: 1em;
  width: 6px;
  margin-right: 5px;
  background-color: #e50914;
}

/* Arrow */
.listHeader::after {
  --size: 9px;
  --weight: 3px;
  content: "";
  display: block;
  position: relative;
  top: 4px;
  left: -120px;
  opacity: 0;
  height: var(--size);
  width: var(--size);
  margin-left: 5px;
  border-top: var(--weight) solid #e50914;
  border-right: var(--weight) solid #e50914;
  transform: rotate(45deg);
  transition: 400ms;
  /* transition-delay: 100ms; */
}

.cardListContainer:hover .listHeader::after {
  left: -90px;
  opacity: 1;
}

.listHeader:hover::after {
  left: 10px !important;
}

.listHeader p {
  position: relative;
  top: 4px;
  left: -20px;
  opacity: 0;
  font-size: 1rem;
  color: #ffffffb5;
  transition: 500ms;
}

.listHeader:hover p {
  opacity: 1;
  left: 10px;
}

.margin {
  margin: 0px 4vw;
}

.topMargin {
  margin-top: 200px;
}

.topSMargin {
  margin-top: 100px;
}

.sMargin {
  margin: 0px 2vw;
}

.icon {
  size: "2em";
}

.allCards {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  scrollbar-width: none;
}

.react-horizontal-scrolling-menu--inner-wrapper {
  overflow: hidden;
}
